.update-container {
    margin-top: 3%;
}
.title {
    margin-left: 30%;
    margin-bottom: 2%;
}
.form-update {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.form-content {
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.form-label {
    width: 25%;
}
.photo {
    justify-self: flex-end;
    width: 204px;
}
.form-input {
    width: 100%;
}
.displaynone {
    display: none;
}
.displayblock {
    display: inline-block;
}
.animation {
    transition: 0.3s ease-in-out;
}
